<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Servicios</p>
            <h1 class="text-uppercase">Planes y Precios a tu conveniencia</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div id="basico" class="bg-red d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/user--v1.png" alt="user--v1"/>
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Plan Básico</h3>
                        <ul>
                            <li>Juegos móviles, series y películas; sin publicidad y sin límite</li>
                            <li>Puedes ver contenido en 1 dispositivo compatible a la vez</li>
                            <li>Puedes ver en HD</li>
                            <li>Puedes descargar contenido en 1 dispositivo compatible a la vez</li>
                        </ul>
                        <span class="text-uppercase text-primary">$4,99 al mes</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div id="estandar" class="bg-red d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img width="30" height="30" src="https://img.icons8.com/metro/26/user-group-man-man.png" alt="user-group-man-man"/>
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Plan Estándar</h3>
                        <ul>
                            <li>Juegos móviles, series y películas; sin publicidad y sin límite</li>
                            <li>Puedes ver contenido en 2 dispositivos compatibles a la vez</li>
                            <li>Puedes ver en Full HD</li>
                            <li>Puedes descargar contenido en 2 dispositivos compatibles a la vez</li>
                            <li>Opción para agregar hasta 1 miembro extra que no viva contigo</li>
                        </ul>
                        <span class="text-uppercase text-primary">$7,99 al mes</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div id="premium" class="bg-red d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img width="50" height="50" src="https://img.icons8.com/sf-black-filled/64/crowd.png" alt="crowd"/>
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Plan Premium</h3>
                        <ul>
                            <li>Juegos móviles, series y películas; sin publicidad y sin límite</li>
                            <li>Puedes ver contenido en 4 dispositivos compatibles a la vez</li>
                            <li>Puedes ver en Ultra HD</li>
                            <li>Puedes descargar contenido en 6 dispositivos compatibles a la vez</li>
                            <li>Opción para agregar hasta 2 miembro extra que no viva contigo</li>
                            <li>Audio espacial de Netflix</li>
                        </ul>
                        <span class="text-uppercase text-primary">$10,99 al mes</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>