/* Reset de estilos para quitar los márgenes predeterminados */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Estilos para las celdas del encabezado 
  th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
  }
  */
  th{
    grid-area: A;
  }
  /* Estilos para las celdas de datos */
  td {
    padding: 8px;
  }

  #year{
    grid-area: B;
  }

  #genre{
    grid-area: C;
  }

  #type{
    grid-area: D;
  }
  
  /* Estilos al pasar el cursor sobre una fila */
  tr:hover {
    background-color: #e6e6e6;
                         
  }
  tr{
    display: grid;
    column-gap: 1rem;
    grid-template-areas: "A A"
                         "B C"
                         "D D"
  }
