<div id="titulo">
    <h1>Catálogo cinematográfico</h1>
</div>

<div id="div_buscador">
    <input #buscador (keyup.enter)="buscar(buscador.value)" _ngcontent-ng-c1461857055="" type="text" id="buscador" placeholder="Busque por título, género, año o tipo..." class="form-control bg-transparent">
    <button id="boton-busqueda" type="submit" (click)="buscar(buscador.value)" class="text-primary d-inline-block bg-transparent"> <i class="bi bi-search"></i></button>
</div>

<!-- Pagination Start -->
<div class="pagination">
    <button class="d-inline-block bg-secondary text-primary flecha" (click)="prevPage()" [disabled]="currentPage === 1">
      <i class="fa fa-arrow-left"></i>
    </button>
    <ng-container *ngFor="let page of getArrayPages()">
      <button (click)="goToPage(page)" [class.active]="page === currentPage">{{ page }}</button>
    </ng-container>
    <button class="d-inline-block bg-secondary text-primary flecha" (click)="nextPage()" [disabled]="currentPage === this.totalPages">
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
  
<!-- Pagination End -->
<!-- Tabla con datos -->

<div class="card-container">
    @for (datum of data; track datum.imdb_id) {
    <div class="card">
        <h2 class="title"> {{ datum["title"] }} </h2>
        <p class="year"> Year: {{ datum["release_year"] }} </p>
        <p class="genres"> Genres:  
            @for (genre of datum["genres"].replace("[", '').replace("']", '').split(","); track genre) {
                <div>{{ genre.trim().replace("'", '').replace("'", '') }}</div>
            }
        </p>
        <p class="type"> {{ datum["type"] }} </p>
    </div>
    } @empty {
    <div class="card empty">
        <p class="text-center">No se encuentra la película - serie</p>
    </div>
    }
</div>


<!-- Fin Tabla con datos -->
