.card-container {
  margin: 2%; /* Ajusta el margen según tus necesidades, esto es un ejemplo */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.card {
  background: linear-gradient(45deg, #333, #3a3a3a);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 250px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.empty {
  text-align: center;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}

.genres ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.genres li {
  margin-bottom: 4px;
}

.type {
  text-align: center;
}

#buscador {
  margin-top: 10px;
  width: 50%;
}

#div_buscador{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
#boton-busqueda{
  border-radius: 5%;
  margin-top: 10px;
  padding: 0 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 15px;
}

.pagination button.active {
  color: red; /* Color rojo para la página actual */
}

.pagination button {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color:aliceblue;
}

.flecha{
  border-radius: 50%;
}
.flecha:disabled{
  opacity: 0.5;
}