<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <img class="w-100" src="assets/img/bannerCortinas.jpeg" alt="Image">
            <div class="carousel-caption d-flex align-items-center justify-content-center text-start">
                <div class="mx-sm-5 px-5" style="max-width: 900px;">
                    <h1 class="display-2 text-white text-uppercase mb-4 animated slideInDown">Bienvenido a NetflixScope</h1>
                    <br><br><br>
                    <h4 class="text-white text-uppercase mb-4 animated slideInDown"><i class="fa fa-info-circle text-primary me-3"></i>Sumérgete en el mundo del cine y las series.</h4>
                </div>
            </div>
    </div>
  </div>
  <!-- Carousel End -->
  
  
  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid w-75 align-self-end" src="assets/img/iconoIndexNS.png" alt="">
                    <div class="w-50 bg-secondary p-5" style="margin-top: -25%;">
                        <h1 class="text-uppercase text-primary mb-3">Proyecto 5</h1>
                        <h2 class="text-uppercase mb-0">DAWM</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block bg-secondary text-primary py-1 px-4">Qué encontrarás</p>
                <h1 class="text-uppercase mb-4">Diversidad cinematográfica en un solo lugar</h1>
                <p>En NetflixScope, encontrarás una amplia gama de películas de diversos géneros, épocas y países, todo reunido en un solo lugar para tu disfrute.</p>
                <p class="mb-4">Nuestra plataforma te permite sumergirte en un mar de opciones cinematográficas, con la posibilidad de realizar filtros según tus preferencias.</p>
                <h1 class="text-uppercase mb-4">Listo para sumergirte en el séptimo arte</h1>
                <p>¡Prepárate para explorar, descubrir y disfrutar del séptimo arte como nunca antes lo habías hecho en NetflixScope!</p>
            </div>
        </div>
    </div>
  </div>
  <!-- About End -->
  
  
  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Acerca de</p>
            <h1 class="text-uppercase">Características</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 50px;">
                        <img class="img-fluid" src="assets/img/iconoCar1.png" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Explora y Encuentra</h3>
                        <p>Encuentra fácilmente tus series y películas favoritas con nuestra potente herramienta de búsqueda.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 50px;">
                        <img class="img-fluid" src="assets/img/iconoCar2.png" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Elige Tu Experiencia</h3>
                        <p>Personaliza tu viaje cinematográfico seleccionando entre nuestros planes de películas.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 50px;">
                        <img class="img-fluid" src="assets/img/iconoCar3.png" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Descubre Tu Próxima Obsesióne</h3>
                        <p>Prepárate para encontrar joyas ocultas y éxitos de taquilla que te cautivarán desde el primer momento.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Service End -->